.activities{
    /* background-color: #41B3A3; */
    background-color: black;
    height: 580px;
    background-image: url("../img/earth.gif");
    /* opacity: 0.9; */
    background-repeat: no-repeat;
    background-position:150px;
}
.act{
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    background-color: rgb(170, 197, 194);
    width: 750px;
    height: 480px;
    position: relative;
    left:450px;
    top: 3px;
}
.error{
    color: red;
    font-size: 11px;
}
.titulos{
    font-size: 15px;
    display: inline;
    position: relative;
    left:-150px;
}
.actt{
    position: relative;
    left: -80px;
}
.dif{
    position: relative;
    left: -160px;
}
.diff{
    position: relative;
    left: -100px;
}
.difff{
    position: relative;
    left: -105px;
}
.diffff{
    position: relative;
    left: -10px;
}
.tituloss{
    font-size: 15px;
    display: inline;
    position: relative;
    left:-210px;
}
.titulosss{
    font-size: 15px;
    display: inline;
    position: relative;
    left:-130px;
}
.titulossss{
    font-size: 15px;
    display: inline;
    position: relative;
    left: -225px;
}
.titulosssss{
    font-size: 15px;
    display: inline;
    position: relative;
    left:-55px;
}
.titulossssss{
    font-size: 15px;
    display: inline;
    position:fixed;
    left:545px;
}