.cardcontainer{
    display:flex;
    flex-wrap: wrap;
    background-image: url("../img/earth.gif");
    /* opacity: 0.9; */
    background-repeat: no-repeat;
    background-position:750px;
    
}
.j{
    width: 180px;
    margin-left: 60px;
}