.Container{
    /* background-color: rgb(189, 189, 189); */
    /* background-color: #41B3A3; */
    background-color: black;
}
.alfab{
    display: inline;
    position: relative;
    left: -220px;
}
.popu{
    display: inline;
    position: relative;
    left: 10px;
}
.box{
    /* border-style: solid; */
    color: white;
    border-top: solid;
    /* border-bottom: solid; */
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    padding-bottom: 5px;
}
.sor, .sorp{
    position: relative;
    left: -5px;
}