.navbar{
    /* background-color: rgb(184, 130, 86); */
    /* background-color: #41B3A3; */
    background-color: black;
    
    height: 180px;
}
.fotohome{
    
    position:relative;
    left:-230px;
    display: inline-flex;
    /* padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 1px; */
    width: 250px;
    height: 150px;
    top:10px;
}
.foto{
    
    width: 230px;
    border-radius: 8px;
}
.creacion{
    
    position: relative;
    right: -65px;
    bottom: 60px;
}
.fotoAc{
    
    position: relative;
    top:25px;
    right: -120px;
    height: 80px;
}
.titles{
    
    display: inline;
    color: rgb(250, 250, 250);
    width: 1000px;
    position: relative;
    top:-100px;
    left:50px;
}
.formcreation{
    
    position: relative;
    right:-220px;
    top:-120px;
}
