.navbar{
    background-color: rgb(134, 134, 136);
    border-radius: 8px;

}
.fotohome{
    position:relative;
    left:-190px;
    display: inline-flex;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 1px;
    width: 40%;
    
}
.foto{
    width: 40%;
    border-radius: 8px;
}
.searchbar{    
    display: inline;
    position:relative;
    left: -320px;
    bottom: 50px;
    border-radius: 8px;
    width: 400px;
}
.botonreset{
    position: relative;
    left: -300px;
    bottom: 50px;
}
.divsearchbar{
    display: inline;
    height: 15px;
    position: relative; 
}
.creacion{
    position: relative;
    right: -600px;
    bottom: 150px;
}
.fotoAc{
    position: relative;
    top:75px;
    height: 125px;
}
.titles{
    display: inline;
    color: rgb(15, 71, 66);
    width: 1000px;
    position: relative;
    top:-100px;
    left:-30px;
}
.formcreation{
    position: relative;
    right:120px;
    top:-90px;
}
