.navbar{
    background-color: rgb(134, 134, 136);
    border-radius: 8px;

}
.fotohome{
    position:relative;
    left:-375px;
    display: inline-flex;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 1px;
    width: 40%;
    
}
.foto{
    width: 40%;
    border-radius: 8px;
}
.searchbar{    
    display: inline;
    position:relative;
    left: -400px;
    bottom: 100px;
    border-radius: 8px;
}
.botonreset{
    position: relative;
    left: -380px;
    bottom: 100px;
}
.divsearchbar{
    display: inline;
    
}
.creacion{
    position: relative;
    bottom: 100px;
}
.fotoAc{
    position: relative;
    top:75px;
    height: 125px;
}