.divsearchbar{
    
    display: inline;
    height: 25px;
    position: relative; 
    border-radius: 15px;
}
.searchbar{    
    
    display: inline;
    position:relative;
    left: -320px;
    bottom: 50px;
    border-radius: 15px;
    width: 400px;
}

.botonreset{
    
    position: relative;
    left: -260px;
    bottom: 50px;
}